.background{
    -fx-background-image: url(../img/eriantys_background.jpg);
    -fx-background-size: 100% 100%;
}

.island1{
    -fx-background-image: url(../img/Tavolo/Isole/island1.png);
    -fx-background-size: 100% 100%;
}

.island2{
    -fx-background-image: url(../img/Tavolo/Isole/island2.png);
    -fx-background-size: 100% 100%;
}

.island3{
    -fx-background-image: url(../img/Tavolo/Isole/island3.png);
    -fx-background-size: 100% 100%;
}

.schoolBoard{
    -fx-background-image: url(../img/Plancia/Plancia_DEF2.png);
    -fx-background-size: 100% 100%;
}

.schoolBoard-button{
    -fx-background-image: url(../img/Plancia/Plancia_DEF2.png);
    -fx-background-size: 100% 100%;
    -fx-font-family: 'Newborough';
    -fx-text-fill: #000000;
    -fx-font-size:40px;
    -fx-pref-height: 65px;
}

.schoolBoard-button:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.cloud1{
    -fx-background-image: url(../img/Tavolo/Nuvole/cloud_card_1.png);
    -fx-background-size: 100% 100%;
}

.cloud2{
    -fx-background-image: url(../img/Tavolo/Nuvole/cloud_card_2.png);
    -fx-background-size: 100% 100%;
}

.cloud3{
    -fx-background-image: url(../img/Tavolo/Nuvole/cloud_card_3.png);
    -fx-background-size: 100% 100%;
}

.cloud4{
    -fx-background-image: url(../img/Tavolo/Nuvole/cloud_card_4.png);
    -fx-background-size: 100% 100%;
}

.red{
    -fx-background-image: url(../img/Plancia/Studenti/student_red.png);
    -fx-background-size: 100% 100%;
}

.blue{
    -fx-background-image: url(../img/Plancia/Studenti/student_blue.png);
    -fx-background-size: 100% 100%;
}

.green{
    -fx-background-image: url(../img/Plancia/Studenti/student_green.png);
    -fx-background-size: 100% 100%;
}

.pink{
    -fx-background-image: url(../img/Plancia/Studenti/student_pink.png);
    -fx-background-size: 100% 100%;
}

.yellow{
    -fx-background-image: url(../img/Plancia/Studenti/student_yellow.png);
    -fx-background-size: 100% 100%;
}

.prof_red{
    -fx-background-image: url(../img/Plancia/Professori/teacher_red.png);
    -fx-background-size: 100% 100%;
}

.prof_blue{
    -fx-background-image: url(../img/Plancia/Professori/teacher_blue.png);
    -fx-background-size: 100% 100%;
}

.prof_green{
    -fx-background-image: url(../img/Plancia/Professori/teacher_green.png);
    -fx-background-size: 100% 100%;
}

.prof_pink{
    -fx-background-image: url(../img/Plancia/Professori/teacher_pink.png);
    -fx-background-size: 100% 100%;
}

.prof_yellow{
    -fx-background-image: url(../img/Plancia/Professori/teacher_yellow.png);
    -fx-background-size: 100% 100%;
}

.black{
    -fx-background-image: url(../img/Plancia/Torri/black_tower.png);
    -fx-background-size: 100% 100%;
}

.grey{
    -fx-background-image: url(../img/Plancia/Torri/grey_tower.png);
    -fx-background-size: 100% 100%;
}

.white{
    -fx-background-image: url(../img/Plancia/Torri/white_tower.png);
    -fx-background-size: 100% 100%;
}

.motherNature{
    -fx-background-image: url(../img/Tavolo/mother_nature.png);
    -fx-background-size: 100% 100%;
}

.noEntryTile{
    -fx-background-image: url(../img/Tavolo/Isole/deny_island_icon.png);
    -fx-background-size: 100% 100%;
}

.coin{
    -fx-background-image: url(../img/Plancia/Moneta_base.png);
    -fx-background-size: 100% 100%;
}

.assistant-1{
    -fx-background-image: url(../img/Assistenti/Assistente1.png);
    -fx-background-size: 100% 100%;
}

.assistant-1:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.assistant-2{
    -fx-background-image: url(../img/Assistenti/Assistente2.png);
    -fx-background-size: 100% 100%;
}

.assistant-2:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.assistant-3{
    -fx-background-image: url(../img/Assistenti/Assistente3.png);
    -fx-background-size: 100% 100%;
}

.assistant-3:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.assistant-4{
    -fx-background-image: url(../img/Assistenti/Assistente4.png);
    -fx-background-size: 100% 100%;
}

.assistant-4:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.assistant-5{
    -fx-background-image: url(../img/Assistenti/Assistente5.png);
    -fx-background-size: 100% 100%;
}

.assistant-5:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.assistant-6{
    -fx-background-image: url(../img/Assistenti/Assistente6.png);
    -fx-background-size: 100% 100%;
}

.assistant-6:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.assistant-7{
    -fx-background-image: url(../img/Assistenti/Assistente7.png);
    -fx-background-size: 100% 100%;
}

.assistant-7:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.assistant-8{
    -fx-background-image: url(../img/Assistenti/Assistente8.png);
    -fx-background-size: 100% 100%;
}

.assistant-8:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.assistant-9{
    -fx-background-image: url(../img/Assistenti/Assistente9.png);
    -fx-background-size: 100% 100%;
}

.assistant-9:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.assistant-10{
    -fx-background-image: url(../img/Assistenti/Assistente10.png);
    -fx-background-size: 100% 100%;
}

.assistant-10:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.character-1{
    -fx-background-image: url(../img/Personaggi/CarteTOT_front1.jpg);
    -fx-background-size: 100% 100%;
}

.character-1:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.character-2{
    -fx-background-image: url(../img/Personaggi/CarteTOT_front2.jpg);
    -fx-background-size: 100% 100%;
}

.character-2:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.character-3{
    -fx-background-image: url(../img/Personaggi/CarteTOT_front3.jpg);
    -fx-background-size: 100% 100%;
}

.character-3:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.character-4{
    -fx-background-image: url(../img/Personaggi/CarteTOT_front4.jpg);
    -fx-background-size: 100% 100%;
}

.character-4:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.character-5{
    -fx-background-image: url(../img/Personaggi/CarteTOT_front5.jpg);
    -fx-background-size: 100% 100%;
}

.character-5:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.character-6{
    -fx-background-image: url(../img/Personaggi/CarteTOT_front6.jpg);
    -fx-background-size: 100% 100%;
}

.character-6:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.character-7{
    -fx-background-image: url(../img/Personaggi/CarteTOT_front7.jpg);
    -fx-background-size: 100% 100%;
}

.character-7:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.character-8{
    -fx-background-image: url(../img/Personaggi/CarteTOT_front8.jpg);
    -fx-background-size: 100% 100%;
}

.character-8:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.character-9{
    -fx-background-image: url(../img/Personaggi/CarteTOT_front9.jpg);
    -fx-background-size: 100% 100%;
}

.character-9:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.character-10{
    -fx-background-image: url(../img/Personaggi/CarteTOT_front10.jpg);
    -fx-background-size: 100% 100%;
}

.character-10:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.character-11{
    -fx-background-image: url(../img/Personaggi/CarteTOT_front11.jpg);
    -fx-background-size: 100% 100%;
}

.character-11:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.character-12{
    -fx-background-image: url(../img/Personaggi/CarteTOT_front12.jpg);
    -fx-background-size: 100% 100%;
}

.character-12:hover{
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 0);
}

.btn-primary{
    -fx-background-color: transparent;
    -fx-background-image: url(../img/Ui/btn.primary.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-font-family: 'Newborough';
    -fx-text-fill: #fff;
    -fx-font-size:24px;
    -fx-pref-height: 65px;
}
.btn-primary:hover{
    -fx-background-color: transparent;
   -fx-background-image: url(../img/Ui/btn.primary.contrast.png);
     -fx-background-position: center;
     -fx-background-repeat: no-repeat;
    -fx-font-family: 'Newborough';
    -fx-text-fill: #0054ba;
     -fx-font-size:20px;
}

.btn-login{
     -fx-pref-width: 120px;
     -fx-padding: 0 0 5 0;
}

.input-username{
 -fx-background-image: url(../img/Ui/input.background.png);
  -fx-background-size: 100% 100%;
   -fx-background-position: center;
   -fx-background-repeat: no-repeat;
   -fx-font-family: 'Newborough';
   -fx-text-fill: #fff;
    -fx-font-size:24px;
 -fx-pref-height: 50px;
    -fx-padding: 0 10 0 10;
}


.text-light{
    -fx-text-fill: #f9edd3;
}

.background-blue{
     -fx-background-image: url(../img/Ui/input.background.png);
  -fx-background-size: 100% 100%;
   -fx-background-position: center;
   -fx-background-repeat: no-repeat;
}

.waiting-background{
 -fx-background-color: transparent;
 -fx-graphics: url(../img/Ui/input.background.png);
 -fx-background-repeat: repeat;
}

.radio-team{
 -fx-background-color: transparent;
 -fx-background-image: url(../img/Ui/btn.primary.png);
 -fx-background-size: 100% 100%;
 -fx-font-family: 'Newborough';
 -fx-text-fill: #fff;
 -fx-padding: 15px, 0px, 25px, 20px;
  -fx-pref-height: 30px;
  -fx-font-size:18px;


}
.radio-team:selected{
 -fx-background-color: transparent;
 -fx-background-image: url(../img/Ui/btn.primary.contrast.png);
 -fx-background-size: 100% 100%;
 -fx-font-family: 'Newborough';
 -fx-text-fill: #0054ba;
}

.radio-team:armed{
 -fx-background-color: transparent;
 -fx-background-image: url(../img/Ui/btn.primary.contrast.png);
 -fx-background-size: 100% 100%;
 -fx-font-family: 'Newborough';
 -fx-text-fill: #0054ba;
}
.radio-team:determinate{
 -fx-background-color: transparent;
 -fx-background-image: url(../img/Ui/btn.primary.contrast.png);
 -fx-background-size: 100% 100%;
 -fx-font-family: 'Newborough';
 -fx-text-fill: #0054ba;
}
.radio-team:indeterminate{
 -fx-background-color: transparent;
 -fx-background-image: url(../img/Ui/btn.primary.contrast.png);
 -fx-background-size: 100% 100%;
 -fx-font-family: 'Newborough';
 -fx-text-fill: #0054ba;
}
.radio-team .radio{
-fx-background-color: transparent;
-fx-padding: 0px;
}
.radio-team .dot{
-fx-background-color: transparent;
-fx-padding: 0px;
}